.solutions-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.solutions-text10 {
  display: inline-block;
}
 
.solutions-text11 {
  display: inline-block;
}
 
.solutions-text12 {
  display: inline-block;
}
 
.solutions-text13 {
  display: inline-block;
}
 
.solutions-text14 {
  display: inline-block;
}
 
.solutions-text15 {
  display: inline-block;
}
 
.solutions-text16 {
  display: inline-block;
}
 
.solutions-text17 {
  display: inline-block;
}
 
.solutions-text18 {
  display: inline-block;
}
 
.solutions-text19 {
  display: inline-block;
}
 
.solutions-text20 {
  display: inline-block;
}
 
.solutions-text21 {
  display: inline-block;
}
 
.solutions-text22 {
  display: inline-block;
}
 
.solutions-text23 {
  display: inline-block;
}
 
.solutions-text24 {
  display: inline-block;
}
 
.solutions-text25 {
  display: inline-block;
}
 
.solutions-text26 {
  display: inline-block;
}
 
.solutions-text27 {
  display: inline-block;
}
 
.solutions-text28 {
  display: inline-block;
}
 
.solutions-text29 {
  display: inline-block;
}
 
.solutions-text30 {
  display: inline-block;
}
 
.solutions-text31 {
  display: inline-block;
}
 
.solutions-text32 {
  display: inline-block;
}
 
.solutions-text33 {
  display: inline-block;
}
 
.solutions-text34 {
  display: inline-block;
}
 
.solutions-text35 {
  display: inline-block;
}
